Source: ros-jazzy-gz-dartsim-vendor
Section: misc
Priority: optional
Maintainer: Addisu Taddese <addisu@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libboost-dev, libboost-regex-dev, libboost-system-dev, libbullet-dev, libccd-dev, libeigen3-dev, libfcl-dev, libfmt-dev, liblz4-dev, libode-dev, libtinyxml2-dev, liburdfdom-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-vendor-package, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ros-workspace
Homepage: https://dartsim.github.io/
Standards-Version: 3.9.2

Package: ros-jazzy-gz-dartsim-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-dev, libboost-regex-dev, libboost-system-dev, libbullet-dev, libccd-dev, libeigen3-dev, libfcl-dev, libfmt-dev, liblz4-dev, libode-dev, libtinyxml2-dev, liburdfdom-dev, ros-jazzy-ros-workspace
Description: Vendor package for the DART physics engine v6.13.2
